/* layout */
body{
    margin : 0 auto;
    padding : 0;
    box-sizing: border-box;
}
header{
    background: #111111e8;
    height: 10vh;
    width: 83%;
    display: flex;
    float: right;
}
#sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 17%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    background-color: rgba(0, 0, 0, 0.904); /* Black */
}
#banner{
    height: 420px;
    background : rgba(235, 235, 235, 0.815);
    width: 83%;
    display: flex;
    float: right;
}
#contents{
    min-height: 78vh;
    height: 1120px;
    background: #222222;
    width: 83%;
    display: flex;
    float: right;
}
footer{
    height: 12vh;
    width: 100%;
    background: #111111;
    position : fixed;
    z-index : 2;
}
.container{
    margin: 0 auto;
    width: 80%;
}

/* header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav-links{
    display: flex;
    margin-left: auto;
    margin-top: auto;
    width: 40%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header .container .nav{
    color: rgba(235, 235, 235, 0.986);
    transition: 0.4s;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
}

header .container a:hover {
    color: orangered;
}

/* header-search */
.search-box{
    background: orangered;
    height: 35px;
    border-radius: 40px;
}
.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 20px;
    color: white;
}
.search-box:hover > .search-btn{
    background: white;
    color: orangered;
}
.search-btn{
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    text-decoration: none;
    color: white;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 17px;
    transition: 0.4s;
    line-height: 35px;
    width: 0;
}

/* sidebar */
#sidebar{
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
#sidebar .container{
    margin: 20px;
}
#sidebar li{
    font-size: 18px;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    transition: 0.4s ease;
}
#sidebar i {
    font-size : 20px;
    padding: 0 0 0 13px;
}
#sidebar a{
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    color: #b3b3b3;
    display: block;
    font-weight: bold;
    transition: 0.4s ease;
}
#sidebar ul{
    padding: 0;
}
#sidebar li{
    list-style : none;
}
#sidebar li:hover{
    color: white;
}
#sidebar a:hover {
    color: white;
}

#sidebar .side-playlist h2{
    padding: 10px 0 0 0 ; 
    color:white;
    font-size: 20px;
}

#sidebar .side-playlist li{
    padding: 6px 8px 6px 5px;
    font-size : 16px;
}

/* contents */
#contents h2{
    padding : 12px 0 0 0;
    margin : 0;
    color : white;
}

#contents .albums{
    display:flex;
    justify-content: space-around;
    padding: 20px 0 0 0;
}

#contents .album{
    width: 220px;
    height: 300px;
    background: #333333;
    border-radius: 5px;
    transition: 0.4s ease;
}
#contents .album:hover{
    background: #444444;
    cursor:pointer;
}
#contents img{
    width: 200px;
    height: 200px;
    padding : 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#contents img:hover{
    box-shadow: 10px;
}

#contents span{
    display: block;
    color: rgba(255, 255, 255, 0.787);
    padding: 5px 0 0 15px;
    font-size:10px;
}
#contents .title{
    font-size: 12px;
    font-weight:bold;
    color: white;
}

/* footer */
footer{
    overflow : hidden;
    bottom : 0;
}
footer .container{
    height:100%;
    width: 93%;
    display: flex;
}

/* album info */
.playing-album img{
    height: 60px;
    width: 60px;
}
.playing-album{
   display: flex;
   align-items: center;
   flex: 0.3;
}
.playing-album .album-info{
    display: block;
    padding: 15px;
}
.playing-album span{
    color: rgba(255, 255, 255, 0.897);
    font-size : 13px;
    display: block;
}
.playing-album .title{
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}
.playing-album i{
    color: orangered;
}
#heart-icon:hover{
    transition: 0.2s ease-in;
    transform:scale(1.2);
    cursor:pointer;
}

/* control */
.player{
    flex: 0.4;
}
.control{
    margin: 0 150px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px 0;
    align-items: center;
    cursor:pointer;
}
.control i{
    color: white;
    font-size : 35px;
    transition: 0.3s;
}
.control i:hover{
    color : orangered; 
}
.control .play-btn:hover{
    transition: 0.2s ease-in-out;
    transform:scale(1.2);
}
.control .step{
    color:rgba(235, 235, 235, 0.815);
    font-size : 20px;
    padding: 7px 0;
}
.control .play{
    font-size: 20px;
    color : orangered; 
}
.control .play:hover{
    color:white;
}

/* progress */
.progress-bar{
    display:flex;
    align-items: center;
    width: 600px;
}
.progress-bar #bar{
    width: 100%;
    background-color: grey;
    height: 5px;
    border-radius: 10px;
}
  
#progress{
    width: var(--progress, 0%);
    transition: all 1s linear;
    height: 5px;
    background-color: green;
    border-radius: 10px;
}

#current, #end{
    display: flex;
    color: white;
    font-size: 14px;
    padding: 0 10px;
}

/* volume */
.volume{
    flex: 0.3;
}
.volume-container{
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
}
.volume i{
    float: right;
    color: white;
    padding: 0 16px 0 0;
    font-size : 18px;
}
.volume-control{
    cursor: pointer;
}
#volume:hover{
    transition: 0.4s ease-in-out;
    transform:scale(1.2);
}
.volume-bar #myRange{
    width: 130px;
    background-color: grey;
    height: 5px;
    border-radius: 10px;
    margin: 0 0 13px 0;
    opacity: 0.7;
    -webkit-transform: 0.2s;
}
#myRange:hover{
    cursor: pointer;
}