<header>
  <div class="container">
      <nav>
          <div class="search-box">
              <input class="search-txt" type="text" placeholder="Type to search" id="searchtext">
              <a class="search-btn">
                  <i class="fa fa-search" aria-hidden="true" onclick="search_input()"></i>
              </a>
          </div>

          <ul class="nav-links">
              <li><a class="nav" href="/recentChart">최신차트</a></li>
              <li><a class="nav" href="/newestChart">최신음악</a></li>
              <li><a class="nav" href="/genreChart">장르음악</a></li>
          </ul>
      </nav>
  </div>
</header>