<div id="sidebar">
  <div class="container">
      <ul>
          <li>
              <i class="fa fa-home" aria-hidden="true"></i>
              <a href="/">홈</a>
          </li>
          <li>
              <i class="fa fa-bookmark" aria-hidden="true"></i>
              <a href="#">내 라이브러리</a>
          </li>
          <li>
              <i class="fa fa-heart heart-icon" aria-hidden="true"></i>
              <a href="#">좋아요 표시한 곡</a>
          </li>
      </ul>
      <ul class="side-playlist">
          <h2>플레이리스트</h2>
          <hr>
          <ul>
              <li>Hip-Hop</li>
              <li>Rock</li>
              <li>Pop</li>
          </ul>
      </ul>
  </div>
</div>