#contents{
    height: 100%;
}
#contents .genre{
    font-size: 24px;
    text-align: center;
    font-weight:bold;
    color: white;
    height : auto;
    padding: 20px 0;
}

#contents #genre_div{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

#contents .genres{
    transition: 0.4s ease;  
}

#contents .genres:hover{
    background: #444444;
    cursor:pointer;
}

#contents tr {
    transition: 0.4s ease; 
}
#contents .genre table img{
    height: auto;
}
#contents .genre table tr:hover{
    background: #444444;
    cursor:pointer;
}

.genreTitle{
    display:flex;
    justify-content: space-between;
}
#playall{
    width : 100px;
    height : 24px;
    color : white;
    font-size: 18px;
    transition: 0.4s ease;
    padding: 13px 10px;
}

#playall :hover{
    color : orangered;
    cursor:pointer;
}
